{% extends 'DNAcon/base.html' %}
{% load static %}
{% block content %}

<div class="center">
    <h1> Система Unicum DNA service </h1>
    <p>Подготовьтесь к проведению ДНК с умом </p>
    <h2>Для чего нужна система</h2>
    <p>Unicum DNA service - это платформадля легкой и быстрой подготовки проектов к ДНК конкурсу</p>
    <ul>
        <li>Ускоряет разработку проектов</li>
        <li>Помогает находить сильеные и слабые стороны ваших разработок</li>
        <li>Повышает конкурентноспособность продуктов</li>
    </ul>
</div>

{% endblock %}