{% extends 'DNAcon/base.html' %}
{% load static %}
{% block content %}

<div class="center">
    {% csrf_token %}
    <h1> УникУм ДНК Акселератор </h1>
    <p>Подготовьтесь к проведению ДНК с умом </p>
    <h2>Для чего нужна система</h2>
    <p>УникУм ДНК Акселиратор - это платформа для легкой и быстрой подготовки проектов к ДНК конкурсу</p>
    <ul>
        <li>Ускоряет разработку проектов</li>
        <li>Помогает находить сильные и слабые стороны ваших разработок</li>
        <li>Повышает конкурентноспособность продуктов</li>
    </ul>
</div>

{% endblock %}